<!doctype html>
<html ng-app='ShoppingListApp' lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div ng-controller='ShoppingListController as list' class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

      <!-- To Buy List -->
      <div class="col-md-6">
        <h2>To Buy:</h2>
        <table class="table table-sm" style="width: 40%;">
          <thead>
            <tr>
              <th>Item name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list.items">
              <td>Buy {{item.quantity}} of {{item.name}} </td>
              <td><button ng-click="list.buyItem($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>Bought</button></td>
            </tr>
          </tbody>
        </table>
        <div ng-hide="!list.isEmptyItemsList()" class="emptyMessage">Everything is bought!</div>
      </div>

      <!-- Already Bought List -->
      <div class="col-md-6">
        <h2>Already Bought:</h2>
        <table class="table table-sm" style="width: 40%;">
          <thead>
            <tr>
              <th>Item name</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in list.itemBought">
              <td>Bought {{item.quantity}} of {{item.name}} </td>
            </tr>
          </tbody>
        </table>
        <div ng-hide="!list.isEmptyItemBoughtList()" class="emptyMessage">Nothing bought yet.</div>
      </div>
    </div>
  </div>

</body>
</html>
